<div class="burger hide">
	<div class="burger__wrapper">
		<div class="burger__row">
			<div class="burger__list">
				<div class="burger__list-title text">Lingoamo</div>
				<a href="/about-us" class="text hover">About</a>
				<a href="/artificial-intelligence/" class="text hover">Artificial Intelligence</a>
				<a href="/scholarship/" class="text hover">Scholarships</a>
				<a href="/free-trial/" class="text hover">Free Trial</a>
				<a href="/for-companies/" class="text hover">For Companies</a>
				<a href="/how-it-works/" class="text hover">How it Works</a>
			</div>
			<div class="burger__list">
				<div class="burger__list-title text">Language</div>
				<a href="/language/english/" class="text hover">English</a>
				<a href="/language/german/" class="text hover">German</a>
				<a href="/language/french/" class="text hover">French</a>
				<a href="/language/spanish/" class="text hover">Spanish</a>
				<a href="/language/portuguese/" class="text hover">Portuguese</a>
				<a href="/language/brazilian-portuguese/" class="text hover">Brazilian Portuguese</a>
				<a href="/take-a-test/" class="text hover text--mrgntop">Take a Test</a>
			</div>
		</div>
		<div class="burger__row">
			<div class="burger__list">
				<div class="burger__list-title text">Support</div>
				<a href="/faq" class="text hover">FAQ</a>
				<a href="/newsroom/" class="text hover">Newsroom</a>
				<a href="/contact-us" class="text hover">Contact Us</a>
			</div>
			<div class="burger__list">
				<div class="burger__list-title text">Social</div>
				<a target="_blank" href="https://www.instagram.com/lingoamo/" class="text hover">Instagram</a>
				<a target="_blank" href="https://twitter.com/lingoamo" class="text hover">X</a>
				<a target="_blank" href="https://www.facebook.com/lingoamo" class="text hover">Facebook</a>
				<a target="_blank" href="https://www.linkedin.com/company/lingoamo" class="text hover">LinkedIn</a>
				<a target="_blank" href="https://www.youtube.com/@lingoamo" class="text hover">Youtube</a>
				<a target="_blank" href="https://www.tiktok.com/@lingoamo" class="text hover">TikTok</a>
			</div>
		</div>

		<a href="/become-a-teacher" class="btn-cstm blue">Become a Teacher</a>
	</div>
</div>
