<div class="burger hide">
  <div class="burger__wrapper">
    <div class="burger__row">
      <div class="burger__list">
        <div class="burger__list-title text">Lingoamo</div>
        <a href="/about-us" class="text hover">About</a>
        <a href="/artificial-intelligence/" class="text hover"
          >Artificial Intelligence</a
        >
        <a href="/scholarship/" class="text hover">Scholarships</a>
        <a href="/free-trial/" class="text hover">Free Trial</a>
        <a href="/for-companies/" class="text hover">For Companies</a>
        <a href="/how-it-works/" class="text hover">How it Works</a>
      </div>
      <div class="burger__list">
        <div class="burger__list-title text">Language</div>
        <a href="/english-course/" class="text hover">English</a>
        <a href="/german-course/" class="text hover">German</a>
        <a href="/french-course/" class="text hover">French</a>
        <a href="/spanish-course/" class="text hover">Spanish</a>
        <a href="/portuguese-course/" class="text hover">Portuguese</a>
        <a href="/brazilian-portuguese-course/" class="text hover"
          >Brazilian Portuguese</a
        >
        <a href="/take-a-test/" class="text hover">Take a Test</a>
      </div>
    </div>
    <div class="burger__row">
      <div class="burger__list">
        <div class="burger__list-title text">Support</div>
        <a href="/faq" class="text hover">FAQ</a>
        <!-- <a href="/newsroom/" class="text hover">Newsroom</a> -->
        <a href="/contact-us" class="text hover">Contact Us</a>
      </div>
      <div class="burger__list">
        <div class="burger__list-title text">Social</div>
        <a
          target="_blank"
          href="https://www.instagram.com/lingoamo/"
          class="text hover"
          rel="noopener"
          >Instagram</a
        >
        <a
          target="_blank"
          href="https://twitter.com/lingoamo"
          class="text hover"
          rel="noopener"
          >X</a
        >
        <a
          target="_blank"
          href="https://www.facebook.com/lingoamo"
          class="text hover"
          rel="noopener"
          >Facebook</a
        >
        <a
          target="_blank"
          href="https://www.linkedin.com/company/lingoamo"
          class="text hover"
          rel="noopener"
          >LinkedIn</a
        >
        <a
          target="_blank"
          href="https://www.youtube.com/@lingoamo"
          class="text hover"
          rel="noopener"
          >Youtube</a
        >
        <a
          target="_blank"
          href="https://www.tiktok.com/@lingoamo"
          class="text hover"
          rel="noopener"
          >TikTok</a
        >
      </div>
    </div>

    <a href="/become-a-teacher-page" class="btn-cstm blue">Become a Teacher</a>
  </div>
</div>
